.new-rule-row input {
  width: 120px;
}

.rule-row{
  text-align: right;
}
.rule-name-col {
  text-align: left;
  margin-right: 10px;
}
.rule-value-col {
  text-align: left;
  
}

.new-rule-add input{
  width: 40px;
}

.rule-edit-message{
  color: red;
}