.user-name {
  font-size: 0.8em;
  text-align: left;
  margin-left: 4px;
}

.message-text {
  text-align: left;
  padding: 5px;
}

.message-box {
  border: 1px solid black;
  margin: 5px;
  width: 200px;
}

.delete-icon {
  float: right;
}
.reply-button {
  float: right;
}
.message-footer {
  height: 22px;
}
.message-date {
  text-align: left;
  float: left;
  font-size: 0.6em;
  margin-left: 4px;
}
