.expand-box {
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  width: fit-content;
}

.expand-box-header {
  height: 25px;
  width: 120px;
  cursor: pointer;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 2px;
}

.expand-box-children {
  border: 1px solid black;
  padding: 5px;
}

.browse-link {
  float: left;
  margin: 0 auto;
}


.header-logo {
  float: left;
  margin: 0;
  text-align: left;
}

.nav-bar{
  height: 30px;
  margin: 5px;
}

.nav-bar span{
  border: 1px black solid;
  padding: 5px;
  /* margin: 5px; */
  float:left;
  text-decoration-line: none;
  text-decoration-color: black;
}

.code-link {
  float: right !important;
  margin: 0 auto;
}